<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script>
        function ChangeText()
        {
            document.getElementById("target").innerHTML = "asdfasdfasdf";
        }



    </script>


</head>
<body>
     <!--<center>
         <p id = "target"  type ="button" onclick="ChangeText()" style="color : #be0000;">Django(MVT)를 위대한 뼈대 구축 -html5
         <p style="color : #e2703a;">Django(MVT)를 위대한 뼈대 구축 -html5</p>
         <p style="color : #f7ea00;">Django(MVT)를 위대한 뼈대 구축 -html5</p>
         <p style="color : #3a6351;">Django(MVT)를 위대한 뼈대 구축 -html5</p>
         <p style="color : #046582;">Django(MVT)를 위대한 뼈대 구축 -html5</p>

     </center> -->


     <div align="left">
         <ol>
             <!-- 127.0.0.1:8000/html/basic_tag      ..을 안하면 url은 127.0.0.1:8000/html/index/basic_tag-->
             <li><a href="../basic_tag">기본태그</a></li>

             <!-- 127.0.0.1:8000/html/basic_tag      ..을 안하면 url은 127.0.0.1:8000/html/index/basic_tag-->
             <li><a href="../kts_tag">기본태그2</a>


             <li><a href="../form_tag">입력양식태그</a></li>
         </ol>

     </div>

<!--<div class="container">
  <label for="checkbox-1">
    <input type="checkbox" id="checkbox-1" name="checkbox-1"/>
    🥕 Carrots
  </label>
  <label for="checkbox-2">
    <input type="checkbox" id="checkbox-2" name="checkbox-2"/>
    🍎 Apples
  </label>
  <label for="checkbox-3">
    <input type="checkbox" id="checkbox-3" name="checkbox-3"/>
   🍐 Pears
  </label>
</div> -->


</body>
</html>