<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Animated gradient</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../../static/css/okfail_style.css/">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="gradient">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <rect width="150%" height="150%" x="-65%" y="-65%" fill="url(#gradient1a)"></rect>
      <rect width="200%" height="200%" x="10%" y="-80%" fill="url(#gradient1b)"></rect>
      <rect width="200%" height="150%" x="-50%" y="30%" fill="url(#gradient1c)"></rect>
      <defs>
        <radialGradient id="gradient1a">
          <stop offset="0%" stop-color="#F2C9C9">
            <animate attributeName="stop-color" values="#F2C9C9;#FFFFFF;#DCD5F5;#FFE7C1;#FFFFFF;#FFE7C1;#F2C9C9" dur="20s" repeatCount="indefinite">
            </animate>
          </stop>
          <stop offset="100%" stop-color="#FFFFFF"></stop>
        </radialGradient>
        <radialGradient id="gradient1b">
          <stop offset="0%" stop-color="#CBEBF0">
            <animate attributeName="stop-color" values="#CBEBF0;#DCD5F5;#FFFFFF;#CBEBF0;#DCD5F5;#FFFFFF;#CBEBF0" dur="20s" repeatCount="indefinite">
            </animate>
          </stop>
          <stop offset="100%" stop-color="#FFFFFF" stop-opacity="0"></stop>
        </radialGradient>
        <radialGradient id="gradient1c">
          <stop offset="0%" stop-color="#FFFFFF">
            <animate attributeName="stop-color" values="#FFFFFF;#FFE7C1;#F2C9C9;#FFFFFF;#CBEBF0;#F2C9C9;#FFFFFF" dur="20s" repeatCount="indefinite">
            </animate>
          </stop>
          <stop offset="100%" stop-color="#FFFFFF" stop-opacity="0"></stop>
        </radialGradient>
      </defs>
    </svg>
  </div>
<!-- partial -->
  <script  src="../../static/js/okfail_script.js/"></script>

</body>
</html>
